{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block javascript %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

    <script>
        jQuery(document).ready(function($) {
            var content = $('#marked_content > p');
            var content_value = content.text();
            content.html(marked(content_value));
        });

    </script>

    <script>
    function hahaha(origin) {
        return marked(origin);
    }

    </script>

{% endblock %}

{% block page_title %}{{ post.title }} - 게시물 보기{% endblock %}

{% block body %}

    <h1>{{ post.title }} </h1>
    <p id="demo">
        <script language="JavaScript">document.getElementById("demo").innerHTML=marked({{ post.content }};</script>

    </p>




    <P><a href="{% url 'blog:edit' pk=post.pk %}">글 수정</a></P>
    <P><a href="{% url 'blog:delete' pk=post.pk %}">글 삭제</a></P>
    <P><a href="{% url 'blog:list' %}">글 목록</a></P>

    <div id="fb-root"></div>

    <div class="fb-comments" data-href="http://localhost:8000/{{ post.pk }}" data-numposts="5"></div>
{% endblock %}

